:root {
  --pc-white-full: #ffffff;
  --pc-white-color: #f9fafb;
  --pc-cyan-color: #06b6d4;
  --pc-amber-color: #fde68a;
  --pc-purple-color: #c7caf8;
  --pc-gray-medium-color: #4b5563;
  --pc-text-opacity: #111827;
  --pc-green-color: #22c55e;
  --pc-primary-color: #2f7bf8;
  --pc-red-color: #dc2626;
  --pc-border-color: #e5e7eb;
  --pc-border-gray: #d7d9df;
  --pc-drank-color: #121212;
  --pc-transition-timing: 0.2s;
}

#pc-quotation-request_wrap,
#pc-select_wrap {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
  -webkit-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
  -moz-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
  transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
}

#pc-quotation-request_wrap *,
#pc-select_wrap * {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#pc-quotation-request_wrap .pc-select-wrap,
#pc-select_wrap .pc-select-wrap {
  z-index: 2;
  background: rgba(245, 246, 247, 1);
  -webkit-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
  -moz-transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
  transition: opacity 200ms 0ms, visibility 0ms 0ms, z-index 0ms 0ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#pc-quotation-request_wrap .pc-select-inner,
#pc-select_wrap .pc-select-inner {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  top: 48%;
  width: 100%;
  max-width: 1224px;
}

#pc-select_container {
  display: flex;
  width: 100%;
  justify-content: center;
}

#pc-select_header {
  bottom: 100%;
  width: 100%;
  padding-bottom: 12.5px;
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 35pt;
}

.pc-select_btn .pc-select_btn_wrap {
  display: flex;
  justify-content: start;
  overflow: hidden;
  flex: 1 1 auto;
  flex-direction: row;
  box-shadow: 0 1.25px 2.5px 0 rgba(79, 90, 109, 0.25);
  cursor: pointer;
  background-color: #ffffff;
  height: 100%;
}

.pc-select_btn .pc-select_btn_wrap:hover {
  box-shadow: 0 1.875px 6.25px 0 rgba(79, 90, 109, 0.3);
}

.pc-select_btn {
  border: none;
  width: 50%;
  padding: 10px;
  background: none;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  transition: all 0.2s;
  cursor: pointer;
}

.pc-select_btn:hover {
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.pc-select_btn .pc-select_btn_img {
  min-height: 0;
  display: flex;
  width: 33.333333%;
  position: relative;
  overflow: hidden;
  font-size: 10px;
}

#pc-select_btn_upload .pc-select_btn_img_inner {
  background-color: var(--pc-cyan-color);
}

#pc-select_btn_design .pc-select_btn_img_inner {
  background-color: var(--pc-amber-color);
}

#pc-select_btn_quote_request .pc-select_btn_img_inner {
  background-color: var(--pc-purple-color);
}

.pc-select_btn .pc-select_btn_img .pc-select_btn_img_inner {
  height: auto;
  position: relative;
  text-align: center;
  margin: 0;
  width: 100%;
}

.pc-select_btn_img_inner img {
  position: absolute !important;
  top: 50% !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  left: 50% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  transform: translate(-50%, -50%) !important;
  height: 50%;
  width: 50%;
}

.pc-select_btn .pc-select_btn_content {
  font-size: 16px;
  width: 66.666667%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 15px;
}

.pc-select_btn_content_inner {
  flex: 1 1 auto;
  padding: 20px 25px 20px 0;
  white-space: nowrap;
}

.pc-select_btn_content_inner ul {
  margin: 12px 0 0 0;
  list-style-type: "\2713";
  text-align: start;
  padding-left: 12px;
}

.pc-select_btn_content_inner ul li {
  margin-bottom: 6px;
  padding-left: 6px;
  color: var(--pc-gray-medium-color);
  text-wrap: wrap;
}

.pc-select_btn_content_inner li::marker {
  color: var(--pc-green-color);
}

.pc-select_btn_content_inner .pc-title {
  margin-top: 0;
  line-height: 1.15;
  font-size: 20px;
  margin-bottom: 1.875px;
  font-weight: 500;
  color: #3f4a59;
  text-align: start;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[data-modal-x] {
  border-right: 3px solid;
  bottom: 0;
  display: block;
  height: 20px;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: relative;
  right: 0;
  top: 0;
  transform: rotate(45deg);
  width: 2px;
  color: #f00;
}

[data-modal-x]:after {
  border-right: 3px solid;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 100%;
}

.pc-qr_close-btn,
.pc-select_close-btn {
  background: none;
  border: none;
  height: 20px;
  padding: 0;
  position: absolute;
  left: 32px;
  top: 32px;
  width: 20px;
  cursor: pointer;
}

#pc-qr_close-btn,
#pc-select_close-btn {
  background: none;
  border: none;
  height: 20px;
  padding: 0;
  position: absolute;
  left: 32px;
  top: 32px;
  width: 20px;
  cursor: pointer;
  z-index: 3;
}

#pc-qr_close-btn:hover [data-modal-x],
#pc-select_close-btn:hover [data-modal-x] {
  transform: scale(1.2) rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.pc-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  color: var(--pc-white-color);
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-bottom: 8px;
  min-width: 74px;
}

#pc-btn {
  border: 1px solid var(--pc-primary-color);
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  color: var(--pc-white-color);
  background-color: var(--pc-primary-color);
  line-height: 1.5;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 74px;
  margin: 10px 0;
  font-size: initial;
  text-wrap: nowrap;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
}

.pc-primary-btn {
  background-color: var(--pc-primary-color);
}

.pc-danger-btn {
  background-color: var(--pc-red-color);
}

.pc-preview-wrap {
  display: flex;
  flex-wrap: wrap;
}

.pc-preview {
  max-width: 160px;
  position: relative;
  margin-right: 8px;
  border: 1px solid var(--pc-border-color);
  display: flex;
  align-items: center;
}

.pc-uploader-image {
  max-width: 100%;
}

.pc-preview-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 60%);
  top: 0;
  opacity: 0;
  transition: all 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pc-preview:hover .pc-preview-overlay {
  opacity: 100%;
}

.pc-overflow {
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  #pc-quotation-request_wrap .pc-select-wrap #pc-select_container,
  #pc-select_wrap .pc-select-wrap #pc-select_container {
    flex-direction: column;
    align-items: center;
  }

  .pc-select_btn {
    width: 70%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  /* CSS for other than iOS devices */
  #quotation-request-form input[type="text"],
  #quotation-request-form input[type="email"],
  #quotation-request-form input[type="tel"],
  #quotation-request-form textarea,
  #quotation-request-form input[type="file"] {
    min-width: 300px !important;
  }
  @supports not (-webkit-touch-callout: none) {
    .pc-select_btn {
      width: 85%;
    }

    #pc-select_header {
      padding-bottom: 10px !important;
      font-size: 25pt !important;
    }

    #pc-qr_close-btn,
    #pc-select_close-btn {
      top: 20px !important;
    }

    .pc-select_btn_content_inner ul {
      padding-left: 2px;
      margin-top: 10px;
      font-size: 11.5px;
    }

    .pc-select_btn_content_inner ul li {
      margin-left: 25px;
    }

    .pc-select_btn_content_inner .pc-title {
      font-size: 15px;
      margin-bottom: 1.5px;
    }
  }

  /* CSS specific to iOS devices */
  @supports (-webkit-touch-callout: none) {
    @media only screen and (max-width: 600px) {
      #pc-quotation-request_wrap .pc-select-inner,
      #pc-select_wrap .pc-select-inner {
        top: 50%;
      }

      .pc-select_btn {
        width: 85.5%;
      }

      #pc-select_header {
        padding-bottom: 8px !important;
        font-size: 25pt !important;
      }

      .pc-select_btn_content_inner .pc-title {
        font-size: 11px;
      }

      .pc-select_btn_content_inner ul {
        padding-left: 0px;
        font-size: 11.5px !important;
      }

      .pc-select_btn_content_inner ul li {
        margin-left: 15px;
      }
    }
  }
}

/* Quote */
#pc-qr-content-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(100, 100, 100);
  top: 0;
  transition: all 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#pc-select_container #quotation-request-form {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  border: 1px solid var(--pc-border-color);
  background-color: var(--pc-white-color);
  border-radius: 10px;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  position: relative;
}
#quotation-request-form .pc-card_header {
  padding: 20px 16px 16px 16px;
  background-color: var(--pc-white-full);
}
#quotation-request-form .pc-card_body {
  padding: 12px 16px;
}
#quotation-request-form .pc-card_footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 16px;
}
#quotation-request-form .pc-card_body > div {
  margin-top: 4px;
}
#quotation-request-form .pc-card_header h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
}
#quotation-request-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--pc-text-opacity);
  font-size: 14px;
}

#quotation-request-form input[type="text"],
#quotation-request-form input[type="email"],
#quotation-request-form input[type="tel"],
#quotation-request-form textarea,
#quotation-request-form input[type="file"] {
  width: 100%;
  padding: 6px 8px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  min-width: 450px;
  font-size: 0.875rem;
  line-height: 1.5;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgb(199, 200, 203) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  box-sizing: border-box;
  background-color: var(--pc-white-full);
}
#quotation-request-form input[type="file"] {
  padding: 20px 8px;
  cursor: pointer;
}

#quotation-request-form textarea {
  resize: vertical;
  min-height: 100px;
}

#pc-submit-quota {
  background-color: var(--pc-primary-color);
  color: var(--pc-white-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5;
}

#pc-submit-quota:hover {
  background-color: var(--pc-primary-color);
  opacity: 0.9;
}
label .pc-field-require {
  color: var(--pc-red-color);
  margin-left: 4px;
}
/* End Quote */

/* Loader */
.pc-handle-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.pc-handle-overlay.active {
  opacity: 1;
  visibility: visible;
}
.pc-boxes {
  --size: 32px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.pc-boxes .pc-box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.pc-boxes .pc-box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: box1 var(--duration) linear infinite;
  animation: box1 var(--duration) linear infinite;
}

.pc-boxes .pc-box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: box2 var(--duration) linear infinite;
  animation: box2 var(--duration) linear infinite;
}

.pc-boxes .pc-box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: box3 var(--duration) linear infinite;
  animation: box3 var(--duration) linear infinite;
}

.pc-boxes .pc-box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: box4 var(--duration) linear infinite;
  animation: box4 var(--duration) linear infinite;
}

.pc-boxes .pc-box > div {
  --background: #5c8df6;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.pc-boxes .pc-box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.pc-boxes .pc-box > div:nth-child(2) {
  --background: #145af2;
  --right: 0;
  --rotateY: 90deg;
}

.pc-boxes .pc-box > div:nth-child(3) {
  --background: #447cf5;
  --rotateX: -90deg;
}

.pc-boxes .pc-box > div:nth-child(4) {
  --background: #dbe3f4;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }

  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }

  50% {
    transform: translate(200%, 100%);
  }

  100% {
    transform: translate(100%, 100%);
  }
}
/* End Loader  */

/* Alert */
.pc-alert {
  margin: 4px 0;
  padding: 12px;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.pc-alert.active {
  opacity: 1;
  visibility: visible;
  display: block;
}

.pc-alert-success {
  background: #edfbd8;
  border: 1px solid #84d65a;
}

.pc-alert-danger {
  background: #fbd8d8;
  border: 1px solid #d65a5a;
}

.pc-alert .success__title {
  font-weight: 500;
  font-size: 14px;
  color: #2b641e;
}

.pc-alert-danger .success__title {
  color: #641e1e;
}
/* End Alert */

.text-danger {
  color: var(--pc-red-color);
}
